@use "variables" as *;
@use "mixins" as *;

.card {
  @include heart-hover;
  @include animate;

  &__heart-wrapper {
    display: inline-block;
    z-index: 1; // ← passe au-dessus du ::before
  }

  position: relative; //L'élément est positionné selon le flux normal du document
  border-radius: $border-radius-card;
  box-shadow: $shadow-card; // fait ressortir les cards restaurants.
  overflow: hidden; // intégration de l'image
  background-color: $color-white;

  &__link {
    text-decoration: none;
    color: inherit; //hérite du noir du parent
    display: block;
  }

  &__image {
    width: 100%;
    height: 175px;
    object-fit: cover; //Le contenu remplacé est redimensionné
  }

  &__badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: $color-tertiary;
    color: $color-badge;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px; // colle mieux avec le design de l'application
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  &__location {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .card__link {
    width: calc(50% - 50px);
  }

  .card {
    border-radius: 15px; // légèrement différent du mobile
    &__image {
      height: 251px; // image plus haute sur desktop
    }
  }
}
