@use "variables" as *;

.footer {
  background-color: $color-footer;
  padding: 24px;
  color: $color-white;

  &__logo {
    filter: brightness(0) invert(1); // rend le logo blanc
    width: 100px;
    margin-bottom: 16px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    display: inline-flex;
    color: $color-white;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    gap: 10px; // espace entre icône et texte
  }

  i {
    font-size: 11px;
    width: 13px; // largeur fixe pour aligner tous les textes
    text-align: center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .footer {
    display: flex;
    flex-direction: row-reverse; // logo à droite, nav à gauche
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 24px 40px;
  }

  .footer__list {
    flex-direction: row; // liens en horizontal
    gap: 24px;
  }

  .footer__logo {
    padding-left: 40px; // espace entre le logo et le bord droit
  }
}

@media (min-width: $breakpoint-desktop) {
  .footer {
    padding: 24px 60px;
  }
}
