@use 'variables' as *;

.footer {
  background-color: $color-footer;
  padding: 24px;
  color: $color-white;

  &__logo {
    filter: brightness(0) invert(1); // rend le logo blanc
    width: 100px;
    margin-bottom: 16px;
  }

  &__list {
    list-style: none;   // supprime les puces
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    font-size: 14px;
  }
}
