@use "variables" as *;
@use "mixins" as *;

.hero {
  background-color: $color-background;
  padding: 39px 24px;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 24px;
  }
  &__subtitle {
    color: $color-footer;
    font-weight: 300;
    font-size: 18px;
  }
}

.btn {
  @include btn;
}
