@use "variables" as *;

.restaurants {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 66px;
}

@media (min-width: 768px) {
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__title {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .restaurants {
    max-width: 1080px;
    margin: auto;
    padding: 40px;
    gap: 50px 100px;

    &__title {
      width: 100%;
    }
  }
}
