// Color
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new:#008766;
$color-location:#EAEAEA;
$color-background: #F6F6F6;
$color-footer: #353535;

// Typo
$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;