// Les variables — liste de valeurs (couleurs, texte ...)
// Pas de @use ici

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background: #f6f6f6;
$color-location: #eaeaea;
$color-footer: #353535;
$color-white: #ffffff;

$font-title: "Shrikhand";
$font-text: "Roboto", sans-serif;
